body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.neon-text {
  font-size: 48px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff00ff,
    0 0 30px #ff00ff,
    0 0 40px #ff00ff,
    0 0 50px #ff00ff,
    0 0 60px #ff00ff;
}

.neon-button {
  font-size: 24px;
  color: #fff;
  background-color: #ff00ff;
  border: none;
  padding: 15px 30px;
  margin-top: 20px;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff00ff,
    0 0 30px #ff00ff,
    0 0 40px #ff00ff,
    0 0 50px #ff00ff,
    0 0 60px #ff00ff;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff00ff,
    0 0 30px #ff00ff,
    0 0 40px #ff00ff,
    0 0 50px #ff00ff,
    0 0 60px #ff00ff;
}

.neon-button:hover {
  color: #000;
  background-color: #fff;
}

/* レンガ模様の背景 */
body {
  background-image: url('/static/pktexture15291529_TP_V4.png');
  background-size: cover;

  position: relative; /* 子要素の絶対位置指定のために相対位置を指定 */
}

body::before {
  content: ''; /* コンテンツがないため空にする */
  position: fixed; /* 画面全体に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 黒色のオーバーレイを追加し、透明度を調整 */
  pointer-events: none; /* オーバーレイがクリックを受け取らないようにする */
  z-index: -1; /* オーバーレイを背景画像の上に配置 */
}

